#mydiv {
  /*height: 100vh;*/
  /*width: 100vw;*/
  position: relative;
  background-color:rgba(0, 0, 0, 0.5);
  margin:auto;
  z-index: 1234;
  /* for demonstration */
}
.ajax-loader {
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 40%;*/
  /*margin-left: -32px; !* -1 * image width / 2 *!*/
  /*margin-top: -32px; !* -1 * image height / 2 *!*/
}

#container {

  position: relative;
}
#register_form{

}
#loading{
  position: fixed;
  background-color:rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;


}
img{
  padding-top: 20%;
  padding-left: 50%;
}
