<div id="container">
<div class="widgets">
  <div class="row">
    <ba-card title="Merchant List" baCardClass="with-scroll" class="data-table-container">

      <div class="panel panel-default">


        <table class="table table-striped" [mfData]="filterdata" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>

            <th style="width: 20%">
              <mfDefaultSorter by="merchantId">Merchant Id</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="merchantName">Merchant Name</mfDefaultSorter>
            </th>

          </tr>
          <tr>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let merchant of mf.data">

            <td (click)="showQrcode(merchant.id)">{{merchant.id}}</td>
            <td (click)="showMerchantDetail(merchant.id)">{{merchant.userName}}</td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<div *ngIf="loading" id="loading" >
  <img src="../../../../assets/images/loading.gif"/>

</div>
<div *ngIf="merchantqrcode" style="text-align: center">
  <qrcode [qrtext]="qrtext"></qrcode>
</div>

<div *ngIf="merchantDetail">
  <detail [merchant]="merchantDetail"></detail>
</div>

</div>

