<div class="widgets">
  <div class="row">
    <ba-card title="Transaction History" baCardClass="with-scroll" class="data-table-container">
      <div class="row">
        <div class="col-sm-2">
          <!--label class="label-control">Agent Id</label-->
          <select class="form-control input-sm" [(ngModel)]="type" (ngModelChange)="filterDate()">
            <option [ngValue]="0">Date</option>
            <option [ngValue]="1">Time Period</option>

          </select>
        </div>
        <div class="col-sm-4">
          <!--div class="row">
            <label class="col-sm-12 label-control">Period</label>
          </div>
          <div class="row">
            <label class="col-sm-12 label-control">Period</label>
          </div-->
          <div class="row">
            <div *ngIf="day" class="offset-sm-1 col-sm-5">
              <div class="row">
                <form #myForm="ngForm" novalidate>
                  <my-date-picker [options]="myDatePickerOptions"
                                  (dateChanged)="onDateChangedFrom($event)" [(ngModel)]="selectedDateFrom"  name="mydatefrom" required></my-date-picker>
                </form>
              </div>
            </div>

            <div class="offset-sm-1 col-sm-5">
              <div *ngIf="daytoday" class="row">
                <form #myForm="ngForm" novalidate>
                  <my-date-picker [options]="myDatePickerOptions"
                                  (dateChanged)="onDateChangedTo($event)" [(ngModel)]="selectedDateTo" name="mydateto" required></my-date-picker>
                </form>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-2">
          <div class="offset-sm-1 col-sm-5">
            <div class="row">
              <button (click)="getTransaction()" class="btn btn-primary btn-sm"> filter</button>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <!--label class="label-control">Agent Id</label-->
          <select class="form-control input-sm" [(ngModel)]="customParam" (ngModelChange)="filterTransactionByCustomParam()">
            <option  *ngFor="let item of data " [ngValue]="item.customParam">{{item.customParam}}</option>

          </select>
        </div>
      </div>
      <br>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control with-danger-addon" placeholder="Search by TransactionId..." #transactionId>
          <span class="input-group-btn">
          <button class="btn btn-danger" type="button" (click)="searchByTransactionId(transactionId.value)">Search</button>
        </span>
        </div>
      </div>


      <div class="row" *ngIf="transctionError">
        <br>
        <div class="alert alert-danger">
          <strong>Error!</strong> {{errormassage}}
        </div>
      </div>

      <div class="row" *ngIf="transctionInfo">
        <br>
        <div class="alert alert-info">
          <strong>massege!</strong> {{infomassage}}
        </div>
      </div>
      <div class="panel panel-default">
      <br>
        <!--div class="panel-heading">Transaction History</div-->

        <table class="table table-striped" [mfData]="data | dataFilter : customParam" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
            <!--th style="width: 10%"></th-->
            <th style="width: 10%">
              <mfDefaultSorter by="tId">Transaction ID</mfDefaultSorter>
            </th>
            <!--th style="width: 20%">
              <mfDefaultSorter by="payerId">Payer ID</mfDefaultSorter>
            </th-->
            <th style="width: 10%">
              <mfDefaultSorter by="payerName">Payer</mfDefaultSorter>
            </th>
            <!--th style="width: 20%">
              <mfDefaultSorter by="payeeId">Payee ID</mfDefaultSorter>
            </th-->
            <th style="width: 10%">
              <mfDefaultSorter by="payeeName">Payee</mfDefaultSorter>
            </th>

            <th style="width: 10%">
              <mfDefaultSorter by="dateTime">Date Time</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="OriginalAmount">OriginalAmount</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="PayingAmount">PayingAmount</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="ReceivingAmount">ReceivingAmount</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="customParam">CustomParam</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="status">Status</mfDefaultSorter>
            </th>


          </tr>
          <!--tr>
            <th colspan="5">
              Filter by name:
              <input class="form-control" [(ngModel)]="filterQuery" />
            </th>
          </tr-->
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <!--td>
              <button (click)="remove(item)" class="btn btn-danger">x</button>
            </td-->
            <td >{{item.id}}</td>
            <!--td (click)="showQrcode(item.payerId)">{{item.payerId}}</td-->
            <td *ngIf="item.payerDetail.data[0].roles[0]=='merchant'">{{item.payerDetail.data[0].merchantName}}</td>
            <td *ngIf="item.payerDetail.data[0].roles[0]=='user'">{{item.payerDetail.userDetail}}</td>
            <td *ngIf="item.payeeDetail.data[0].roles[0]=='merchant'">{{item.payeeDetail.data[0].merchantName}}</td>
            <td *ngIf="item.payeeDetail.data[0].roles[0]=='user'">{{item.payeeDetail.userDetail}}</td>
            <!--td (click)="showQrcode(item.payeeId)">{{item.payeeId}}</td-->

            <td >{{item.dateTime.date |  date:'short'}}</td>
            <td>{{item.originalAmount}}</td>
            <td>{{item.payingAmount}}</td>
            <td>{{item.receivingAmount}}</td>

            <td>{{item.customParam}}</td>
            <td>{{item.status}}</td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>
<div *ngIf="loading" id="loading" >
  <img src="../../../../assets/images/loading.gif"/>

</div>
<div *ngIf="merchantqrcode" class="col-md-6 col-sm-6 col-xs-6">
  <qrcode [qrtext]="qrtext"></qrcode>
</div>
