<!--<div>-->
  <!--<div>Merchant Name :{{merchant.merchantName}}</div>-->
  <!--<div>Merchant brNumber :{{merchant.brNumber}}</div>-->
  <!--<div>Merchant phone Number :{{merchant.phoneNumber}}</div>-->
  <!--<div>Merchant Address :{{merchant.address.streetAddress}},{{merchant.address.locality}},{{merchant.address.region}}</div>-->
  <!--<div>Merchant Account Number :{{merchant.merchantAccountNumber}}</div>-->
  <!--<div>Merchant Email :{{merchant.merchantEmail}}</div>-->
<!--</div>-->
<div *ngIf="filterData">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"> Available Balance</div>
        <div class="col-md-6">{{balance}} LKR </div>
      </div>
    </div>
  </div>
  <br>
<div  class="row">
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-4">
        Merchant ID :
      </div>
      <div>
        {{user.detail.id}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Merchant Name :
      </div>
      <div>
        {{user.detail.merchantName}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Merchant Email :
      </div>
      <div>
        {{user.detail.merchantEmail}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Bank :
      </div>
      <div>
        {{user.detail.bank}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Address :
      </div>
      <div>
        {{user.detail.address.locality}},
        {{user.detail.address.region}},
        {{user.detail.address.streetAddress}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        Phone Number :
      </div>
      <div>
        {{user.detail.phoneNumber}}
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div *ngIf="qr_code" class="col-md-3 col-sm-3 col-xs-3" style="text-align: center">
      <qrcode [qrtext]="qr_code" [size]="200"></qrcode>
    </div>

  </div>
</div>
  <br>
<div class="widgets">
  <div class="row">
    <ba-card title="Transaction History" baCardClass="with-scroll" class="data-table-container">

      <br>

      <div class="panel panel-default">
        <br>
        <!--div class="panel-heading">Transaction History</div-->

        <table class="table table-striped" [mfData]="filterData" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
            <!--th style="width: 10%"></th-->
            <th style="width: 10%">
              <mfDefaultSorter by="tId">Transaction ID</mfDefaultSorter>
            </th>
            <!--th style="width: 20%">
              <mfDefaultSorter by="payerId">Payer ID</mfDefaultSorter>
            </th-->
            <th style="width: 10%">
              <mfDefaultSorter by="payerName">Payer</mfDefaultSorter>
            </th>
            <!--th style="width: 20%">
              <mfDefaultSorter by="payeeId">Payee ID</mfDefaultSorter>
            </th-->
            <th style="width: 10%">
              <mfDefaultSorter by="payeeName">Payee</mfDefaultSorter>
            </th>

            <th style="width: 10%">
              <mfDefaultSorter by="dateTime">Date Time</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="OriginalAmount">OriginalAmount</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="PayingAmount">PayingAmount</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="ReceivingAmount">ReceivingAmount</mfDefaultSorter>
            </th>

            <th style="width: 10%">
              <mfDefaultSorter by="payeeVollate">Merchant wallet</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="commission">Commission</mfDefaultSorter>
            </th>

          </tr>
          <!--tr>
            <th colspan="5">
              Filter by name:
              <input class="form-control" [(ngModel)]="filterQuery" />
            </th>
          </tr-->
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <!--td>
              <button (click)="remove(item)" class="btn btn-danger">x</button>
            </td-->
            <td >{{item.id}}</td>
            <!--td (click)="showQrcode(item.payerId)">{{item.payerId}}</td-->
            <td *ngIf="item.payerDetail.data[0].roles[0]=='merchant'">{{item.payerDetail.data[0].merchantName}}</td>
            <td *ngIf="item.payerDetail.data[0].roles[0]=='user'">{{item.payerDetail.lastName}}</td>
            <td *ngIf="item.payeeDetail.data[0].roles[0]=='merchant'">{{item.payeeDetail.data[0].merchantName}}</td>
            <td *ngIf="item.payeeDetail.data[0].roles[0]=='user'">{{item.payeeDetail.lastName}}</td>
            <!--td (click)="showQrcode(item.payeeId)">{{item.payeeId}}</td-->

            <td >{{item.dateTime.date |  date:'short'}}</td>
            <td>{{item.originalAmount}}</td>
            <td>{{item.payingAmount}}</td>
            <td>{{item.receivingAmount}}</td>

            <td *ngIf="item.payerDetail.data[0].roles[0]=='merchant'">{{item.payerDetail.vollate}} LKR</td>
            <td *ngIf="item.payeeDetail.data[0].roles[0]=='merchant'">{{item.payeeDetail.vollate}} LKR</td>
            <td>{{item.commission}} LKR</td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>


</div>
