<div id="container">
<div class="row" *ngIf="registerForm" id="register_form">
  <div class="col-md-12">
    <div>
      <ba-card title="Merchant REgister Form" baCardClass="with-scroll">
        <form #merchantRegisterForm="ngForm" (ngSubmit)="onSubmit()">

          <div class="row">
              <div class="form-group col-sm-8">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" [(ngModel)] = "user.firstName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-sm-4">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" [(ngModel)] = "user.lastName" [ngModelOptions]="{standalone: true}">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4">
              <label for="nic">Nic</label>
              <input type="text" class="form-control" id="nic" placeholder="" [(ngModel)] = "user.nic" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-sm-4">
              <label for="accountNumber">Account Number</label>
              <input type="text" class="form-control" id="accountNumber" placeholder="" [(ngModel)] = "user.accountNumber" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-sm-4">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control" id="phoneNumber" placeholder="" [(ngModel)] = "user.phoneNumber" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <!--Profile picture upload-->
          <div class="form-group">
            <div class="form-group col-sm-4">
              <ba-card bacardclass="with-scroll" cardtitle="Picture Uploader"><div bacardblur="" zoom-in="" class="animated fadeIn card with-scroll">
                <div class="card-header clearfix">
                  <h3 class="card-title" translate="">Picture Uploader</h3>
                </div>
                <div class="card-body">
                  <ba-picture-uploader _nghost-c21="">
                    <div _ngcontent-c21="" class="picture-group">
                      <div _ngcontent-c21="" class="picture-wrapper">
                        <img _ngcontent-c21="" src="assets/img/app/profile/Nasta.png">
                      </div>
                      <i _ngcontent-c21="" class="ion-ios-close-outline"></i>
                      <a _ngcontent-c21="" class="change-picture" href="">Change profile Picture</a>
                      <input _ngcontent-c21="" hidden="true" ngfileselect="" type="file">
                    </div>
                  </ba-picture-uploader>
                </div>
              </div>
              </ba-card>
            </div>
          </div>

          <!--div class="checkbox">
            <ba-checkbox [(ngModel)]="isChecked" [label]="'Check me out'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
          </div-->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ba-card>
    </div>
  </div>
</div>
<div *ngIf="loading" id="loading" >
  <img src="../../../../assets/images/loading.gif"/>

</div>
<div class="row">
  <div *ngIf="qr_code" class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <qrcode [qrtext]="qrtext" [size]="400"></qrcode>
  </div>
  <!--<div *ngIf="detail" class="col-md-6 col-sm-6 col-xs-6">-->
    <!--<detail [merchant]="merchant"></detail>-->
  <!--</div>-->
</div>

</div>
